.container {
    width: 700px;
    border: 2px solid black;
    margin: auto;
    padding: 5px;
}

.kiri {
    width: 150px;
    height: 200px;
    float: left;
    background-color: brown;
}

.tengah {
    width: 400px;
    height: 200px;
    float: left;
    background-color: blueviolet;
}

.kanan {
    width: 150px;
    float: left;
    height: 200px;
    background-color: yellow;
}
